/* ---------------------------------------------------------
    * Name: Jobko
    * Version: 1.0.1
    * Author: Themesflat
    * Author URI: http://themesflat.com 

	* Abstracts variable

    * Reset css styles

    * Settings

    * Components
        * alert
        * avatar
        * badge
        * button
        * card
        * carousel
        * chart
        * dropdown
        * form
        * header
        * modal
        * preloader
        * progressbar
        * radio button
        * range slider
        * spinner
        * stepper
        * switch
        * tabs

    * widget

/*--------- Abstracts variable ---------- */
:root {
  --font-main-family: "Kumbh Sans", sans-serif;
  --text-headline: 17, 24, 39;
  --text-headline2: 34, 34, 34;
  --text-base: 51, 65, 85;
  --text-white: 255, 255, 255;
  --primary-dark: 3, 45, 129;
  --primary-base: 0, 83, 246;
  --primary-light: 7, 250, 255;
  --slate-50: 248, 250, 252;
  --slate-100: 241, 245, 249;
  --slate-200: 226, 232, 240;
  --slate-300: 203, 213, 225;
  --slate-400: 117, 129, 146;
  --slate-500: 100, 116, 139;
  --slate-600: 71, 85, 105;
  --slate-700: 51, 65, 85;
  --slate-800: 30, 41, 59;
  --slate-900: 15, 23, 42;
  --gray-400: 156, 163, 175;
  --success-dark: 22, 163, 74;
  --success-base: 34, 197, 94;
  --success-light: 74, 222, 128;
  --warning-dark: 234, 179, 8;
  --warning-base: 250, 204, 21;
  --warning-light: 253, 224, 71;
  --error-dark: 221, 51, 51;
  --error-base: 255, 71, 71;
  --error-light: 255, 113, 113;
  --shadow: 2px 5px 40px 0px #4048570F;
  --gradient-1: linear-gradient(180deg, #F8FFD8 0%, #FFFFFF 19.75%);
}

/*---------- Reset css styles ----------- */
/* ---------------------------------------------------------
    * Name: Jobko
    * Version: 1.0.1
    * Author: Themesflat
    * Author URI: http://themesflat.com 

	* Abstracts variable

    * Reset css styles

    * Settings

    * Components
        * alert
        * avatar
        * badge
        * button
        * card
        * carousel
        * chart
        * dropdown
        * form
        * header
        * modal
        * preloader
        * progressbar
        * radio button
        * range slider
        * spinner
        * stepper
        * switch
        * tabs

    * widget

/*--------- Abstracts variable ---------- */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
caption,
canvas,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
form,
footer,
header,
hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
tt,
table,
tbody,
textarea,
tfoot,
thead,
time,
tr,
th,
td,
u,
ul,
var,
video {
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none;
}

figure {
  margin: 0;
}

:focus {
  outline: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

legend {
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input {
  line-height: normal;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  line-height: 1;
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
}

input[type=checkbox],
input[type=radio] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */
}

input[type=search] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
}

input[type=search]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Repeatable Patterns
  -------------------------------------------------------------- */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main-family);
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  background-color: rgb(var(--text-white));
  width: 100%;
  height: 100%;
  font-style: normal;
  font-optical-sizing: auto;
  color: rgb(var(--text-base));
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
}
a:hover, a:focus, a.active {
  text-decoration: none;
  outline: none;
}

ul,
ol {
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
}

b,
strong {
  font-weight: 700;
}

h1,
.h1 {
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
  margin-bottom: 0;
}

h2,
.h2 {
  font-size: 24px;
  line-height: 100%;
}

h3,
.h3 {
  font-size: 20px;
  line-height: 26px;
}

h4,
.h4 {
  font-size: 18px;
  line-height: 22px;
}

h5,
.h5 {
  font-size: 18px;
  line-height: 26px;
}

h6,
.h6 {
  font-size: 16px;
  line-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(var(--text-headline));
  font-weight: 500;
  margin-bottom: 0;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  padding: 16px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: rgb(var(--text-base));
  background-color: transparent;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  font-size: 14px;
  line-height: 24px;
}

select,
textarea,
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color] {
  width: 100%;
  font-size: 14px;
  line-height: 100%;
  padding: 15px 16px;
  font-weight: 400;
  border-radius: 8px;
  border: 1.5px solid var(--slate-100);
  color: var(--black);
  background-color: var(--slate-50);
  color: rgb(var(--text-base));
}

textarea {
  height: 135px;
  resize: none;
}

form label {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: var(--secondary);
  margin-bottom: 8px;
}

textarea:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=time]:focus,
input[type=week]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=tel]:focus,
input[type=color]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
  background-color: transparent;
}

textarea::placeholder,
input::placeholder {
  color: var(--slate-400);
}

textarea,
input[type=text],
input[type=submit],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color] {
  -webkit-appearance: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

dl dt {
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 700;
}

code {
  color: var(--blue-btn);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-appearance: none;
}

.page-width {
  max-width: 1024px;
  margin-inline: auto;
  padding-inline: 20px;
  width: 100%;
}

.bg-primary-dark {
  background-color: rgb(var(--primary-dark));
}

.icon-arrow-down {
  width: 10px;
  height: 5px;
}

.icon-hearth,
.icon-filterSearch,
.icon-back,
.icon-bell {
  width: 24px;
  height: 24px;
}

.icon-search {
  width: 20px;
  height: 20px;
}

.icon-star {
  width: 18px;
  height: 18px;
  color: rgb(var(--warning-base));
}

.icon-badgeCheck {
  width: 14px;
  height: 14px;
  color: #2196F3;
}

.icon-hanger {
  width: 16px;
  height: 16px;
  color: rgb(var(--error-base));
}

.spacing-1 {
  padding-block: 20px;
}

.spacing-2 {
  padding-block: 16px;
}

.spacing-3 {
  padding-block: 8px;
}

.spacing-4 {
  padding-block: 12px;
}

.sw-overRight {
  margin-right: -20px;
  padding-right: 20px;
}

.spacing_top {
  padding-top: 56px;
}

.row-grid {
  display: grid;
  gap: 12px;
}
.row-grid.column-2 {
  grid-template-columns: 1fr 1fr;
}
.row-grid.column-3 {
  grid-template-columns: repeat(3, 1fr);
}
.row-grid.column-4 {
  grid-template-columns: repeat(4, 1fr);
}
.row-grid.column-5 {
  grid-template-columns: repeat(5, 1fr);
}

.pagination-bullets {
  width: max-content !important;
  display: flex;
  margin: auto;
  padding: 2px;
  background-color: rgba(var(--text-headline), 0.2);
  border-radius: 99px;
  gap: 3px;
}
.pagination-bullets > .swiper-pagination-bullet {
  margin: 0 !important;
  width: 6px;
  height: 6px;
  background: rgb(var(--text-white));
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.pagination-bullets .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  opacity: 0.4;
}
.pagination-bullets .swiper-pagination-bullet-active {
  width: 14px;
  border-radius: 99px;
}

.swiper .pagination-bullets {
  caret-color: transparent !important;
}

.bg-error-base_rgba {
  background-color: rgba(var(--error-base), 0.12);
}

.bg-gradient-1 {
  background: var(--gradient-1);
}

/*------------ Components ---------------- */
/*------------ header ---------------- */
.header-bg {
  padding-top: 10px;
  padding-bottom: 46px;
  color: rgb(var(--text-white));
}
.header-bg .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.header-bg .box-user {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header-bg .box-user .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.header-bg .box-user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-bg .box-user .info {
  display: grid;
  gap: 4px;
}
.header-bg .box-user .name {
  font-size: 12px;
  font-weight: 600;
  line-height: 100%;
}
.header-bg .box-user .address {
  font-size: 11px;
  line-height: 100%;
  display: flex;
  align-items: center;
  gap: 6px;
}
.header-bg .box-noti {
  position: relative;
}
.header-bg .box-noti .qty {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(var(--warning-base));
  top: 0;
  right: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  font-weight: 500;
  color: rgb(var(--text-headline));
}

.header-main {
  position: fixed;
  top: 0;
  z-index: 100;
  max-width: 1024px;
  margin: 0 auto;
  left: 0;
  right: 0;
  background: rgb(var(--text-white));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  color: rgb(var(--text-headline));
  padding-inline: 20px;
}
.header-main button {
  padding: 0;
  width: auto;
  border: 0;
  color: rgb(var(--text-headline));
}
.header-main .btn-left {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.header-main .btn-right {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.header-main .title {
  color: var(--text-headline2);
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

/* ---------------------------------------------------------
    * Name: Jobko
    * Version: 1.0.1
    * Author: Themesflat
    * Author URI: http://themesflat.com 

	* Abstracts variable

    * Reset css styles

    * Settings

    * Components
        * alert
        * avatar
        * badge
        * button
        * card
        * carousel
        * chart
        * dropdown
        * form
        * header
        * modal
        * preloader
        * progressbar
        * radio button
        * range slider
        * spinner
        * stepper
        * switch
        * tabs

    * widget

/*--------- Abstracts variable ---------- */
.form-search {
  position: relative;
}
.form-search .icon-search {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(var(--slate-400));
}
.form-search input {
  padding: 16px 12px;
  padding-left: 44px;
  border-radius: 99px;
  background-color: rgb(var(--text-white));
  border: none;
  box-shadow: var(--shadow);
  font-size: 12px;
  line-height: 100%;
}

.box-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  color: rgb(var(--text-headline2));
  margin-bottom: 12px;
}
.box-title .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -1%;
}
.box-title .btn-view {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.5%;
}

.form-search_home {
  margin-top: -22px;
  color: transparent;
}

.categories-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.categories-box .img {
  border-radius: 50%;
  aspect-ratio: 1;
  overflow: hidden;
}
.categories-box .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.categories-box .title {
  font-size: 11px;
  line-height: 100%;
  color: rgb(var(--text-headline));
}

.img-box {
  display: flex;
  overflow: hidden;
}
.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-banner {
  border-radius: 8px;
  position: relative;
}
.swiper-banner .pagination-bullets {
  position: absolute;
  bottom: 6px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

.card-product {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card-product .card-product_banner {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.card-product .card-product_banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-product .card-product_banner .badge-sale {
  position: absolute;
  left: 12px;
  top: 12px;
  font-size: 11px;
  line-height: 18px;
  font-weight: 500;
  color: rgb(var(--text-white));
  background-color: rgb(var(--error-base));
  padding: 0px 8px;
  border-radius: 99px;
  height: 18px;
}
.card-product .card-product_banner .btn-wishlist {
  position: absolute;
  right: 12px;
  top: 12px;
  width: auto;
  padding: 5px;
  border-radius: 50%;
  background-color: rgb(var(--text-white));
}
.card-product .card-product_banner .btn-wishlist svg {
  width: 18px;
  height: 18px;
}
.card-product .card-product_banner .btn-wishlist.active svg {
  color: rgb(var(--error-base));
  fill: rgb(var(--error-base));
}
.card-product .card-product_info {
  display: grid;
  gap: 8px;
}
.card-product .card-product_info .name-product {
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
  color: rgb(var(--text-headline));
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-transform: capitalize;
}
.card-product .card-product_info .box-rate {
  display: flex;
  align-items: center;
}
.card-product .card-product_info .icon-star {
  width: 14px;
  height: 14px;
  margin-right: 4px;
  margin-top: -2px;
}
.card-product .meta-box {
  display: flex;
  align-items: center;
  gap: 6px;
  color: rgb(var(--slate-600));
  font-size: 12px;
  line-height: 100%;
}
.card-product .meta-box li:not(:last-child) {
  position: relative;
  padding-right: 6px;
}
.card-product .meta-box li:not(:last-child)::after {
  content: "";
  height: 10px;
  width: 1px;
  background-color: rgb(var(--slate-300));
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.card-product .box-price {
  display: flex;
  gap: 8px;
  align-items: center;
}
.card-product .box-price .price-new {
  font-size: 14px;
  color: rgb(var(--text-headline));
  font-weight: 500;
}
.card-product .box-price .price-old {
  font-size: 12px;
  font-weight: normal;
  line-height: 100%;
  text-decoration: line-through;
  color: rgb(var(--gray-400));
}
.card-product.style-sm {
  gap: 8px;
}
.card-product.style-sm .card-product_banner {
  border-radius: 6px;
}
.card-product.style-sm .card-product_banner .badge-sale {
  left: 6px;
  top: 6px;
  font-size: 10px;
  line-height: 16px;
  padding: 0 6px;
  height: 16px;
}
.card-product.style-sm .card-product_banner .btn-wishlist {
  right: 6px;
  top: 6px;
  padding: 4px;
}
.card-product.style-sm .card-product_banner .btn-wishlist svg {
  width: 10px;
  height: 10px;
}
.card-product.style-sm .card-product_info .name-product {
  font-size: 12px;
  letter-spacing: -0.5%;
}
.card-product.style-sm .card-product_info .icon-star {
  width: 12px;
  height: 12px;
  margin-right: 2px;
  margin-top: -2px;
}
.card-product.style-sm .meta-box {
  gap: 4px;
  font-size: 11px;
}
.card-product.style-sm .meta-box li:not(:last-child) {
  padding-right: 4px;
}
.card-product.style-sm .meta-box li:not(:last-child)::after {
  height: 8px;
  width: 1px;
}
.card-product.style-sm .box-price .price-new {
  font-size: 12px;
}
.card-product.style-sm .box-price .price-old {
  font-size: 10px;
}

.card-seller {
  padding: 12px;
  border-radius: 8px;
  background-color: rgb(var(--text-white));
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  gap: 8px;
}

.card-seller .card-seller_img {
  position: relative;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
}

.card-seller .card-seller_img .icon-badgeCheck {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 14px;
  height: 14px;
  color: #2196F3;
}

.card-seller .card-seller_info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
}

.card-seller .card-seller_info .name {
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: rgb(var(--text-headline));
}

.card-seller .card-seller_info .meta-box {
  display: flex;
  gap: 8px;
}

.card-seller .meta-box .item {
  display: flex;
  align-items: center;
}

.card-seller .meta-box .item svg {
  margin-top: -2px;
  margin-right: 6px;
}

.card-seller .meta-box .item .num {
  color: rgb(var(--text-headline));
  font-weight: 600;
}

.card-seller .meta-box .item:not(:last-child) {
  padding-right: 8px;
  position: relative;
}

.card-seller .meta-box .item:not(:last-child)::after {
  content: "";
  height: 12px;
  width: 1px;
  background-color: rgb(var(--slate-200));
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/*# sourceMappingURL=styles.css.map */
