/* ---------------------------------------------------------
    * Name: Jobko
    * Version: 1.0.1
    * Author: Themesflat
    * Author URI: http://themesflat.com 

	* Abstracts variable

    * Reset css styles

    * Settings

    * Components
        * alert
        * avatar
        * badge
        * button
        * card
        * carousel
        * chart
        * dropdown
        * form
        * header
        * modal
        * preloader
        * progressbar
        * radio button
        * range slider
        * spinner
        * stepper
        * switch
        * tabs

    * widget

/*--------- Abstracts variable ---------- */
:root {
  --font-main-family: "Kumbh Sans", sans-serif;
  --text-headline: 17, 24, 39;
  --text-headline2: 34, 34, 34;
  --text-base: 51, 65, 85;
  --text-base2: 50, 59, 73;
  --text-white: 255, 255, 255;
  --text-border: 233, 233, 233;
  --primary-dark: 3, 45, 129;
  --primary-base: 0, 83, 246;
  --primary-light: 7, 250, 255;
  --slate-50: 248, 250, 252;
  --slate-100: 241, 245, 249;
  --slate-200: 226, 232, 240;
  --slate-300: 203, 213, 225;
  --slate-400: 117, 129, 146;
  --slate-500: 100, 116, 139;
  --slate-600: 71, 85, 105;
  --slate-700: 51, 65, 85;
  --slate-800: 30, 41, 59;
  --slate-900: 15, 23, 42;
  --gray-400: 156, 163, 175;
  --success-dark: 22, 163, 74;
  --success-base: 34, 197, 94;
  --success-light: 74, 222, 128;
  --warning-dark: 234, 179, 8;
  --warning-base: 250, 204, 21;
  --warning-light: 253, 224, 71;
  --error-dark: 221, 51, 51;
  --error-base: 255, 71, 71;
  --error-light: 255, 113, 113;
  --shadow: 2px 5px 40px 0px rgba(64, 72, 87, 0.06);
  --shadow-2: 0px 10px 25px 0px rgba(43, 52, 74, 0.12);
  --shadow-3: 0px 5px 18px 5px rgba(43, 105, 250, 0.2);
  --shadow-4: 2px 2px 24px 0px rgba(0, 0, 0, 0.08);
  --gradient-1: linear-gradient(180deg, rgb(248, 255, 216) 0%, rgb(255, 255, 255) 19.75%);
  --gradient-2: linear-gradient(180deg, rgba(108, 108, 229, 0.01) 0%, rgba(108, 108, 229, 0.09) 100%);
}

/*---------- Reset css styles ----------- */
/* ---------------------------------------------------------
    * Name: Jobko
    * Version: 1.0.1
    * Author: Themesflat
    * Author URI: http://themesflat.com 

	* Abstracts variable

    * Reset css styles

    * Settings

    * Components
        * alert
        * avatar
        * badge
        * button
        * card
        * carousel
        * chart
        * dropdown
        * form
        * header
        * modal
        * preloader
        * progressbar
        * radio button
        * range slider
        * spinner
        * stepper
        * switch
        * tabs

    * widget

/*--------- Abstracts variable ---------- */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
caption,
canvas,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
form,
footer,
header,
hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
tt,
table,
tbody,
textarea,
tfoot,
thead,
time,
tr,
th,
td,
u,
ul,
var,
video {
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none;
}

figure {
  margin: 0;
}

:focus {
  outline: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

legend {
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input {
  line-height: normal;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  line-height: 1;
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
}

input[type=checkbox],
input[type=radio] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */
}

input[type=search] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
}

input[type=search]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Repeatable Patterns
  -------------------------------------------------------------- */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main-family);
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  background-color: rgb(var(--text-white));
  width: 100%;
  height: 100%;
  font-style: normal;
  font-optical-sizing: auto;
  color: rgb(var(--text-base));
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
}
a:hover, a:focus, a.active {
  text-decoration: none;
  outline: none;
}

ul,
ol {
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
}

b,
strong {
  font-weight: 700;
}

h1,
.h1 {
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
  margin-bottom: 0;
}

h2,
.h2 {
  font-size: 24px;
  line-height: 100%;
}

h3,
.h3 {
  font-size: 20px;
  line-height: 26px;
}

h4,
.h4 {
  font-size: 18px;
  line-height: 22px;
}

h5,
.h5 {
  font-size: 18px;
  line-height: 26px;
}

h6,
.h6 {
  font-size: 16px;
  line-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(var(--text-headline));
  font-weight: 500;
  margin-bottom: 0;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  padding: 16px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: rgb(var(--text-base));
  background-color: transparent;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  font-size: 14px;
  line-height: 24px;
}

select,
textarea,
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color] {
  width: 100%;
  font-size: 14px;
  line-height: 100%;
  padding: 15px 16px;
  font-weight: 400;
  border-radius: 8px;
  border: 1.5px solid var(--slate-100);
  color: var(--black);
  background-color: var(--slate-50);
  color: rgb(var(--text-base));
}

textarea {
  height: 135px;
  resize: none;
}

form label {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: var(--secondary);
  margin-bottom: 8px;
}

textarea:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=time]:focus,
input[type=week]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=tel]:focus,
input[type=color]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
  background-color: transparent;
}

textarea::placeholder,
input::placeholder {
  color: var(--slate-400);
}

textarea,
input[type=text],
input[type=submit],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color] {
  -webkit-appearance: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

dl dt {
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 700;
}

code {
  color: var(--blue-btn);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-appearance: none;
}

.page-width {
  max-width: 1024px;
  margin-inline: auto;
  padding-inline: 20px;
  width: 100%;
}

.bg-primary-dark {
  background-color: rgb(var(--primary-dark));
}

.icon-arrow-down {
  width: 10px;
  height: 5px;
}

.icon-truck,
.icon-question,
.icon-arrowRight,
.icon-logout,
.icon-accountDel,
.icon-lockKey,
.icon-smartphone,
.icon-audit,
.icon-document,
.icon-profit,
.icon-language,
.icon-computer,
.icon-mentoring,
.icon-bell2,
.icon-location,
.icon-app,
.icon-bag,
.icon-more-vertical,
.icon-more,
.icon-filter,
.icon-mess,
.icon-messFill,
.icon-home,
.icon-homeFill,
.icon-hearth,
.icon-hearthFill,
.icon-filterSearch,
.icon-user,
.icon-userFill,
.icon-back,
.icon-bell {
  width: 24px;
  height: 24px;
}

.icon-unlock,
.icon-share,
.icon-search {
  width: 20px;
  height: 20px;
}

.icon-star {
  width: 18px;
  height: 18px;
  color: rgb(var(--warning-base));
}

.icon-badgeCheck {
  width: 14px;
  height: 14px;
  color: #2196F3;
}

.icon-hanger {
  width: 16px;
  height: 16px;
  color: rgb(var(--error-base));
}

.icon-cart {
  width: 26px;
  height: 26px;
}

.icon-search2,
.icon-cart2 {
  width: 18px;
  height: 18px;
}

.icon-camera,
.icon-plus,
.icon-trash {
  width: 14px;
  height: 14px;
}

.spacing-1 {
  padding-block: 20px;
}

.spacing-2 {
  padding-block: 16px;
}

.spacing-3 {
  padding-block: 8px;
}

.spacing-4 {
  padding-block: 12px;
}

.sw-overRight {
  margin-right: -20px;
  padding-right: 20px;
}

.spacing_top {
  padding-top: 56px;
}

.spacing_top-2 {
  padding-top: 64px;
}

.spacing_top-3 {
  padding-top: 68px;
}

.spacing_bottom {
  padding-bottom: 90px;
}

.row-grid {
  display: grid;
  gap: 12px;
}
.row-grid.column-2 {
  grid-template-columns: 1fr 1fr;
}
.row-grid.column-3 {
  grid-template-columns: repeat(3, 1fr);
}
.row-grid.column-4 {
  grid-template-columns: repeat(4, 1fr);
}
.row-grid.column-5 {
  grid-template-columns: repeat(5, 1fr);
}

.pagination-bullets {
  width: max-content !important;
  display: flex;
  margin: auto;
  padding: 2px;
  background-color: rgba(var(--text-headline), 0.2);
  border-radius: 99px;
  gap: 3px;
}
.pagination-bullets > .swiper-pagination-bullet {
  margin: 0 !important;
  width: 6px;
  height: 6px;
  background: rgb(var(--text-white));
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.pagination-bullets .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  opacity: 0.4;
}
.pagination-bullets .swiper-pagination-bullet-active {
  width: 14px;
  border-radius: 99px;
}
.pagination-bullets.style-2 {
  padding: 0;
  background-color: transparent;
}
.pagination-bullets.style-2 > .swiper-pagination-bullet {
  background: rgb(var(--error-base));
}
.pagination-bullets.style-3 {
  padding: 7px 10px;
  gap: 1px;
}
.pagination-bullets.style-3 .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  border: 1px solid transparent;
  position: relative;
  opacity: 1;
}
.pagination-bullets.style-3 .swiper-pagination-bullet::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 999px;
  background-color: rgba(var(--text-white), 0.6);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.pagination-bullets.style-3 .swiper-pagination-bullet-active {
  border-color: rgb(var(--text-white));
}
.pagination-bullets.style-3 .swiper-pagination-bullet-active::before {
  background-color: rgb(var(--text-white));
}

.swiper .pagination-bullets {
  caret-color: transparent !important;
}

.bg-error-base_rgba {
  background-color: rgba(var(--error-base), 0.12);
}

.bg-gradient-1 {
  background: var(--gradient-1);
}

.menu-tab {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1.5px solid rgb(var(--slate-100));
}
.menu-tab .nav-tab-item {
  flex-grow: 1;
}
.menu-tab .tab-link {
  padding: 9px 10px;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: rgb(var(--slate-600));
  position: relative;
}
.menu-tab .tab-link.active {
  color: rgb(var(--primary-dark));
  background-color: rgba(var(--primary-dark), 0.05);
}
.menu-tab .tab-link.active::after {
  width: 100%;
}
.menu-tab .tab-link::after {
  position: absolute;
  content: "";
  bottom: -1px;
  height: 1.5px;
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(var(--primary-dark));
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-line {
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
  color: rgb(var(--text-base));
  transition: all 0.3s ease-in-out;
  padding: 13px 16px;
  border-radius: 8px;
  background-color: rgb(var(--text-white));
  border: 1px solid rgb(var(--slate-200));
  display: flex;
  justify-content: center;
}
.btn-line:hover {
  background-color: rgb(var(--primary-dark));
  color: rgb(var(--text-white));
  border-color: rgb(var(--primary-dark));
}

.btn-primary {
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
  color: rgb(var(--text-white));
  transition: all 0.3s ease-in-out;
  padding: 13px 16px;
  border-radius: 8px;
  background-color: rgb(var(--primary-dark));
  border: 1px solid rgb(var(--primary-dark));
  display: flex;
  justify-content: center;
}

.text-underline-primary {
  text-decoration: underline;
  color: rgb(var(--error-base));
}

.text-underline {
  text-decoration: underline;
}

/*------------ Components ---------------- */
/*------------ header ---------------- */
.header-bg {
  padding-top: 10px;
  padding-bottom: 46px;
  color: rgb(var(--text-white));
}
.header-bg .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.header-bg .box-user {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header-bg .box-user .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.header-bg .box-user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-bg .box-user .info {
  display: grid;
  gap: 4px;
}
.header-bg .box-user .name {
  font-size: 12px;
  font-weight: 600;
  line-height: 100%;
}
.header-bg .box-user .address {
  font-size: 11px;
  line-height: 100%;
  display: flex;
  align-items: center;
  gap: 6px;
}
.header-bg .box-noti {
  position: relative;
}
.header-bg .box-noti .qty {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(var(--warning-base));
  top: 0;
  right: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  font-weight: 500;
  color: rgb(var(--text-headline));
}

.header-main {
  position: fixed;
  top: 0;
  z-index: 100;
  max-width: 1024px;
  margin: 0 auto;
  left: 0;
  right: 0;
  background: rgb(var(--text-white));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  color: rgb(var(--text-headline));
  padding-inline: 20px;
}
.header-main button {
  padding: 0;
  width: auto;
  border: 0;
  color: rgb(var(--text-headline));
}
.header-main .btn-left {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.header-main .btn-right {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.header-main .title {
  color: var(--text-headline2);
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

.header-abs {
  position: absolute;
  background: transparent;
}
.header-abs button {
  width: 36px;
  height: 36px;
  background-color: rgb(var(--text-white));
  border-radius: 50%;
  color: rgb(var(--text-headline));
}
.header-abs button svg {
  width: 20px;
  height: 20px;
}
.header-abs .box-btn {
  display: flex;
  align-items: center;
  gap: 6px;
}
.header-abs .wishlist {
  color: rgb(var(--error-base));
}

.menubar-footer {
  display: flex;
  padding: 10px 16px;
  box-shadow: var(--shadow-2);
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: rgb(var(--text-white));
}
.menubar-footer .inner-bar {
  width: 100%;
  display: flex;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
}
.menubar-footer .inner-bar .item {
  width: calc((100% - 8px) / 5);
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 100%;
  font-weight: 500;
  color: rgb(var(--slate-800));
}
.menubar-footer .inner-bar .addcart {
  width: calc((100% - 8px) / 5 + 8px);
}
.menubar-footer .inner-bar .icon-active {
  display: none;
}
.menubar-footer .inner-bar .active {
  color: rgb(var(--primary-dark));
}
.menubar-footer .inner-bar .active .icon-active {
  display: block;
}
.menubar-footer .inner-bar .active .icon {
  display: none;
}
.menubar-footer .inner-bar .addcart {
  width: 56px;
  height: 56px;
  background-color: rgb(var(--primary-dark));
  color: rgb(var(--text-white));
  border-radius: 50%;
  margin-top: -60px;
  box-shadow: var(--shadow-3);
}

.menubar-button {
  display: flex;
  gap: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: rgb(var(--text-white));
  max-width: 1024px;
  box-shadow: var(--shadow-2);
  padding: 20px;
}
.menubar-button > * {
  width: 50%;
}

/* ---------------------------------------------------------
    * Name: Jobko
    * Version: 1.0.1
    * Author: Themesflat
    * Author URI: http://themesflat.com 

	* Abstracts variable

    * Reset css styles

    * Settings

    * Components
        * alert
        * avatar
        * badge
        * button
        * card
        * carousel
        * chart
        * dropdown
        * form
        * header
        * modal
        * preloader
        * progressbar
        * radio button
        * range slider
        * spinner
        * stepper
        * switch
        * tabs

    * widget

/*--------- Abstracts variable ---------- */
.form-search {
  position: relative;
}
.form-search .icon-search {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(var(--slate-400));
}
.form-search input {
  padding: 16px 12px;
  padding-left: 44px;
  border-radius: 99px;
  background-color: rgb(var(--text-white));
  border: none;
  box-shadow: var(--shadow);
  font-size: 12px;
  line-height: 100%;
}

.box-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: rgb(var(--text-headline2));
  margin-bottom: 12px;
}
.box-title .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -1%;
}
.box-title .btn-view {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.5%;
}
.box-title .img-sale {
  max-width: 75px;
}
.box-title .box-sale {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.box-title .text-sale {
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
}
.box-title .countdown__item,
.box-title .countdown__timer {
  display: flex;
  align-items: center;
  gap: 3px;
}
.box-title .countdown__value {
  font-size: 12px;
  line-height: 16px;
  color: rgb(var(--text-headline));
  padding: 0 7px;
  background-color: rgb(var(--warning-base));
  border-radius: 99px;
}
.box-title .countdown__label {
  color: rgb(var(--slate-300));
}

.form-search_home {
  margin-top: -22px;
  color: transparent;
}

.categories-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.categories-box .img {
  border-radius: 50%;
  aspect-ratio: 1;
  overflow: hidden;
}
.categories-box .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.categories-box .title {
  font-size: 11px;
  line-height: 100%;
  color: rgb(var(--text-headline));
}

.img-box {
  display: flex;
  overflow: hidden;
}
.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-banner {
  border-radius: 8px;
  position: relative;
}
.swiper-banner .pagination-bullets {
  position: absolute;
  bottom: 6px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

.card-product {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card-product .card-product_banner {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.card-product .card-product_banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-product .card-product_banner .badge-sale {
  position: absolute;
  left: 12px;
  top: 12px;
  font-size: 11px;
  line-height: 18px;
  font-weight: 500;
  color: rgb(var(--text-white));
  background-color: rgb(var(--error-base));
  padding: 0px 8px;
  border-radius: 99px;
  height: 18px;
}
.card-product .card-product_banner .btn-wishlist {
  position: absolute;
  right: 12px;
  top: 12px;
  width: auto;
  padding: 5px;
  border-radius: 50%;
  background-color: rgb(var(--text-white));
}
.card-product .card-product_banner .btn-wishlist svg {
  width: 18px;
  height: 18px;
}
.card-product .card-product_banner .btn-wishlist.active svg {
  color: rgb(var(--error-base));
  fill: rgb(var(--error-base));
}
.card-product .card-product_info {
  display: grid;
  gap: 8px;
}
.card-product .card-product_info .name-product {
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
  color: rgb(var(--text-headline));
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-transform: capitalize;
}
.card-product .card-product_info .box-rate {
  display: flex;
  align-items: center;
}
.card-product .card-product_info .icon-star {
  width: 14px;
  height: 14px;
  margin-right: 4px;
  margin-top: -2px;
}
.card-product .meta-box {
  display: flex;
  align-items: center;
  gap: 6px;
  color: rgb(var(--slate-600));
  font-size: 12px;
  line-height: 100%;
}
.card-product .meta-box li:not(:last-child) {
  position: relative;
  padding-right: 6px;
}
.card-product .meta-box li:not(:last-child)::after {
  content: "";
  height: 10px;
  width: 1px;
  background-color: rgb(var(--slate-300));
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.card-product .box-price {
  display: flex;
  gap: 8px;
  align-items: center;
}
.card-product .box-price .price-new {
  font-size: 14px;
  color: rgb(var(--text-headline));
  font-weight: 500;
}
.card-product .box-price .price-old {
  font-size: 12px;
  font-weight: normal;
  line-height: 100%;
  text-decoration: line-through;
  color: rgb(var(--gray-400));
}
.card-product.style-sm {
  gap: 8px;
}
.card-product.style-sm .card-product_banner {
  border-radius: 6px;
}
.card-product.style-sm .card-product_banner .badge-sale {
  left: 6px;
  top: 6px;
  font-size: 10px;
  line-height: 16px;
  padding: 0 6px;
  height: 16px;
}
.card-product.style-sm .card-product_banner .btn-wishlist {
  right: 6px;
  top: 6px;
  padding: 4px;
}
.card-product.style-sm .card-product_banner .btn-wishlist svg {
  width: 10px;
  height: 10px;
}
.card-product.style-sm .card-product_info .name-product {
  font-size: 12px;
  letter-spacing: -0.5%;
}
.card-product.style-sm .card-product_info .icon-star {
  width: 12px;
  height: 12px;
  margin-right: 2px;
  margin-top: -2px;
}
.card-product.style-sm .meta-box {
  gap: 4px;
  font-size: 11px;
}
.card-product.style-sm .meta-box li:not(:last-child) {
  padding-right: 4px;
}
.card-product.style-sm .meta-box li:not(:last-child)::after {
  height: 8px;
  width: 1px;
}
.card-product.style-sm .box-price .price-new {
  font-size: 12px;
}
.card-product.style-sm .box-price .price-old {
  font-size: 10px;
}

.card-seller {
  padding: 12px;
  border-radius: 8px;
  background-color: rgb(var(--text-white));
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  gap: 8px;
}

.card-seller .card-seller_img {
  position: relative;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
}

.card-seller .card-seller_img .icon-badgeCheck {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 14px;
  height: 14px;
  color: #2196F3;
}

.card-seller .card-seller_info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
}

.card-seller .card-seller_info .name {
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: rgb(var(--text-headline));
}

.card-seller .card-seller_info .meta-box {
  display: flex;
  gap: 8px;
}

.card-seller .meta-box .item {
  display: flex;
  align-items: center;
}

.card-seller .meta-box .item svg {
  margin-top: -2px;
  margin-right: 6px;
}

.card-seller .meta-box .item .num {
  color: rgb(var(--text-headline));
  font-weight: 600;
}

.card-seller .meta-box .item:not(:last-child) {
  padding-right: 8px;
  position: relative;
}

.card-seller .meta-box .item:not(:last-child)::after {
  content: "";
  height: 12px;
  width: 1px;
  background-color: rgb(var(--slate-200));
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.img-thumbnail {
  width: 100%;
  padding: 0;
  border: 0;
}

.product-thumbs-slider {
  position: relative;
}
.product-thumbs-slider .pagination-thumbs {
  position: absolute;
  bottom: 20px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

.tf-product-info-wrap {
  margin-top: 17px;
  margin-bottom: 12px;
}
.tf-product-info-wrap .tf-product-info-list {
  margin-bottom: 20px;
}

.tf-product-info-list .label {
  color: rgb(var(--slate-600));
  font-size: 12px;
  line-height: 16px;
}
.tf-product-info-list .product-stock_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-block: 5px;
}
.tf-product-info-list .box-rate-stock {
  display: flex;
  align-items: center;
  gap: 6px;
}
.tf-product-info-list .stock-box {
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  padding-inline: 10px;
  color: rgb(var(--success-base));
  background: rgb(230, 255, 240);
  border-radius: 144px;
}
.tf-product-info-list .rate-box {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: rgb(var(--text-headline));
}
.tf-product-info-list .rate-box .icon-star {
  margin-right: 6px;
}
.tf-product-info-list .rate-box .num {
  font-weight: normal;
  color: rgb(var(--slate-600));
}
.tf-product-info-list .box-price {
  display: flex;
  align-items: center;
  gap: 4px;
}
.tf-product-info-list .box-price .price-sale {
  text-decoration: line-through;
  color: rgb(160, 160, 160);
}
.tf-product-info-list .box-price .price-new {
  color: rgb(var(--text-headline));
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}
.tf-product-info-list .product-name {
  margin-bottom: 16px;
}
.tf-product-info-list .variant-size {
  margin-bottom: 12px;
}
.tf-product-info-list .variant-picker-label {
  margin-bottom: 8px;
  color: rgb(var(--text-headline));
}
.tf-product-info-list .variant-picker-label .variant-picker-label-value {
  margin-left: 6px;
  text-transform: uppercase;
  font-weight: 500;
}
.tf-product-info-list .variant-picker-label .value-currentColor {
  text-transform: capitalize;
}
.tf-product-info-list .variant-size .variant-picker-label {
  display: flex;
  align-items: center;
  gap: 109px;
}
.tf-product-info-list .variant-size .size-guide {
  text-decoration: underline;
}
.tf-product-info-list .variant-size .variant-picker-values {
  display: flex;
  align-items: center;
  gap: 12px;
}
.tf-product-info-list .size-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  border: 1px solid rgb(233, 233, 233);
  color: rgb(var(--text-headline));
}
.tf-product-info-list .size-btn:hover {
  border-color: rgb(var(--text-headline));
}
.tf-product-info-list .size-btn.active {
  border-color: rgb(var(--text-headline));
  background-color: rgb(var(--text-headline));
  color: rgb(var(--text-white));
}
.tf-product-info-list .size-btn.disabled {
  pointer-events: none;
  background: rgb(247, 247, 247);
  border-color: transparent;
  color: rgb(160, 160, 160);
}
.tf-product-info-list .variant-picker-values {
  display: flex;
  align-items: center;
  gap: 6px;
}
.tf-product-info-list .color-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid transparent;
  transition: all 0.1s ease;
}
.tf-product-info-list .color-btn .check-color {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
}
.tf-product-info-list .color-btn.active {
  border-color: rgb(var(--text-headline));
  padding: 3px;
}
.tf-product-info-list .color-btn.red .check-color {
  background-color: rgb(var(--error-base));
}
.tf-product-info-list .color-btn.gray .check-color {
  background-color: rgb(177, 170, 152);
}
.tf-product-info-list .color-btn.green .check-color {
  background-color: rgb(var(--success-base));
}
.tf-product-info-list .color-btn.yellow .check-color {
  background-color: rgb(var(--warning-base));
}
.tf-product-info-list .product-benefits {
  display: flex;
  margin-top: 16px;
  align-items: center;
  gap: 16px;
}
.tf-product-info-list .product-benefits .product-benefits__item:not(:last-child) {
  padding-right: 16px;
  position: relative;
}
.tf-product-info-list .product-benefits .product-benefits__item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 16px;
  background-color: rgb(var(--text-border));
}
.tf-product-info-list .product-benefits .product-benefits__item {
  color: rgb(var(--text-headline));
  display: flex;
  align-items: center;
  gap: 8px;
}

.main-product_page {
  padding-bottom: 85px;
}

.product-info-tab {
  margin-bottom: 12px;
}
.product-info-tab .menu-tab {
  margin-bottom: 16px;
}
.product-info-tab .title-overview {
  margin-bottom: 8px;
  padding-bottom: 6px;
  border-bottom: 1px solid rgb(var(--slate-100));
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: rgb(var(--text-headline));
}
.product-info-tab #overview p {
  font-size: 12px;
  line-height: 18px;
}
.product-info-tab #overview .feature {
  margin-top: 8px;
}
.product-info-tab #overview .feature .title {
  display: block;
  font-size: 12px;
  line-height: 100%;
  margin-bottom: 6px;
}
.product-info-tab #overview .feature ul {
  display: grid;
  gap: 6px;
}
.product-info-tab #overview .feature ul li {
  padding-left: 10px;
  position: relative;
}
.product-info-tab #overview .feature ul li::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 2px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(var(--text-base));
  border-radius: 50%;
}
.product-info-tab .box-title .title {
  font-size: 14px;
}
.product-info-tab .box-title .title span {
  font-weight: normal;
}

.box-profile {
  padding: 4px 20px 16px;
  background: var(--gradient-2);
  display: flex;
  align-items: center;
  gap: 10px;
}
.box-profile .avatar {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}
.box-profile .content {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.box-profile .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: rgb(var(--text-headline));
  display: block;
  margin-bottom: 4px;
}
.box-profile .mail {
  font-size: 12px;
  line-height: 100%;
  color: rgb(var(--text-base2));
}
.box-profile .box-edit {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 7px 12px;
  border-radius: 99px;
  background-color: rgb(var(--text-white));
  box-shadow: var(--shadow-4);
  color: rgb(var(--slate-700));
  font-size: 12px;
  line-height: 100%;
}

.box-become_seller {
  box-shadow: var(--shadow-4);
  padding: 20px 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid rgb(243, 243, 243);
  border-radius: 8px;
  overflow: hidden;
}
.box-become_seller .img {
  width: 52px;
  flex-shrink: 0;
}
.box-become_seller .content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
.box-become_seller .title {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: rgb(15, 23, 42);
  display: block;
  margin-bottom: 6px;
}
.box-become_seller .text {
  color: rgb(var(--text-base));
  font-size: 11px;
  line-height: 16px;
}
.box-become_seller .btn-arr {
  background: linear-gradient(180deg, rgba(108, 108, 229, 0.09) 0%, rgba(108, 108, 229, 0.01) 100%);
  padding: 9px 13px;
  border: 1px solid rgba(108, 108, 229, 0.09);
  border-radius: 99px;
}
.box-become_seller .btn-arr .icon-back {
  width: 18px;
  height: 18px;
  transform: rotate(180deg);
}

.profile-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: rgb(var(--text-base));
  padding-block: 10px;
}
.profile-item .title {
  flex-grow: 1;
  font-size: 14px;
  font-weight: 500;
}
.profile-item svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.profile-item.active {
  color: rgb(var(--error-base));
}

/*# sourceMappingURL=styles.css.map */
