@use "./abstracts/index" as *;
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
}
::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
caption,
canvas,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
form,
footer,
header,
hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
tt,
table,
tbody,
textarea,
tfoot,
thead,
time,
tr,
th,
td,
u,
ul,
var,
video {
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none;
}

figure {
  margin: 0;
}

:focus {
  outline: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

legend {
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input {
  line-height: normal;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  line-height: 1;
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
}

input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}
label {
  // margin-bottom: 5px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Repeatable Patterns
  -------------------------------------------------------------- */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main-family);
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  background-color: rgb(var(--text-white));
  width: 100%;
  height: 100%;
  font-style: normal;
  font-optical-sizing: auto;
  color: rgb(var(--text-base));
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
  cursor: pointer;
  @include transition3;
  display: inline-block;
  &:hover,
  &:focus,
  &.active {
    text-decoration: none;
    outline: none;
  }
}

ul,
ol {
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
}

b,
strong {
  font-weight: 700;
}

h1,
.h1 {
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
  margin-bottom: 0;
}

h2,
.h2 {
  font-size: 24px;
  line-height: 100%;
}

h3,
.h3 {
  font-size: 20px;
  line-height: 26px;
}
h4,
.h4 {
  font-size: 18px;
  line-height: 22px;
}
h5,
.h5 {
  font-size: 18px;
  line-height: 26px;
}

h6,
.h6 {
  font-size: 16px;
  line-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(var(--text-headline));
  font-weight: 500;
  margin-bottom: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  padding: 16px;
  border-radius: 16px;
  @include flex(center, center);
  font-weight: 700;
  color: rgb(var(--text-base));
  background-color: transparent;
  width: 100%;
  @include transition3;
  border: 1px solid transparent;
  font-size: 14px;
  line-height: 24px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  width: 100%;
  font-size: 14px;
  line-height: 100%;
  padding: 15px 16px;
  font-weight: 400;
  border-radius: 8px;
  border: 1.5px solid var(--slate-100);
  color: var(--black);
  background-color: var(--slate-50);
  color: rgb(var(--text-base));
}
textarea {
  height: 135px;
  resize: none;
}
input[type="password"] {
  // font-size: 18px;
  // -webkit-text-security: square;
}
form {
  label {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: var(--secondary);
    margin-bottom: 8px;
  }
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
  background-color: transparent;
}

textarea::placeholder,
input::placeholder {
  color: var(--slate-400);
}

textarea,
input[type="text"],
input[type="submit"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  -webkit-appearance: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
dl dt {
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 700;
}
code {
  color: var(--blue-btn);
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-appearance: none;
}

.page-width {
  max-width: 1024px;
  margin-inline: auto;
  padding-inline: 20px;
  width: 100%;
}

.bg-primary-dark {
  background-color: rgb(var(--primary-dark));
}

.icon-arrow-down {
  width: 10px;
  height: 5px;
}
.icon-close,
.icon-truck,
.icon-question,
.icon-arrowRight,
.icon-logout,
.icon-accountDel,
.icon-lockKey,
.icon-smartphone,
.icon-audit,
.icon-document,
.icon-profit,
.icon-language,
.icon-computer,
.icon-mentoring,
.icon-bell2,
.icon-location,
.icon-app,
.icon-bag,
.icon-more-vertical,
.icon-more,
.icon-filter,
.icon-mess,
.icon-messFill,
.icon-home,
.icon-homeFill,
.icon-hearth,
.icon-hearthFill,
.icon-filterSearch,
.icon-user,
.icon-userFill,
.icon-back,
.icon-bell {
  width: 24px;
  height: 24px;
}
.icon-unlock,
.icon-share,
.icon-search {
  width: 20px;
  height: 20px;
}
.icon-star{
  width: 18px;
  height: 18px;
  color: rgb(var(--warning-base));
}
.icon-badgeCheck{
  width: 14px;
  height: 14px;
  color: #2196F3;
}
 .icon-hanger{
  width: 16px;
  height: 16px;
  color: rgb(var(--error-base));
 }
 
.icon-cart{
  width: 26px;
  height: 26px;
}
.icon-search2,
.icon-cart2{
  width: 18px;
  height: 18px;
}
.icon-camera,
.icon-plus,
.icon-trash {
  width: 14px;
  height: 14px;
}

.spacing-1 {
  padding-block: 20px;
}
.spacing-2 {
  padding-block: 16px;
}
.spacing-3 {
  padding-block: 8px;
}
.spacing-4 {
  padding-block: 12px;
}

.sw-overRight {
  margin-right: -20px;
  padding-right: 20px;
}

.spacing_top {
  padding-top: 56px;
}

.spacing_top-2 {
  padding-top: 64px;
}

.spacing_top-3 {
  padding-top: 68px;
}

.spacing_bottom {
  padding-bottom: 90px;
}

.row-grid {
  display: grid;
  gap: 12px;
  &.column-2 {
    grid-template-columns: 1fr 1fr;
  }
  &.column-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  &.column-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  &.column-5 {
    grid-template-columns: repeat(5, 1fr);
  }
}

.pagination-bullets {
  width: max-content !important;
  display: flex;
  margin: auto;
  padding: 2px;
  background-color: rgba(var(--text-headline), 0.2);
  border-radius: 99px;
  gap: 3px;
  > .swiper-pagination-bullet {
    margin: 0 !important;
    width: 6px;
    height: 6px;
    background: rgb(var(--text-white));
    @include transition3;
  }
  .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    opacity: 0.4;
  }
  .swiper-pagination-bullet-active {
    width: 14px;
    border-radius: 99px;
  }
  &.style-2{
    padding: 0;
    background-color: transparent;
      > .swiper-pagination-bullet {
        background: rgb(var(--error-base));
      }
  }
  &.style-3{
    padding: 7px 10px;
    gap: 1px;
    .swiper-pagination-bullet{
      width: 12px;
      height: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: transparent;
      border: 1px solid transparent;
      position: relative;
      opacity: 1;
      &::before{
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 999px;
        background-color: rgba(var(--text-white), 0.6);
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
    }
    .swiper-pagination-bullet-active {
      border-color: rgb(var(--text-white));
      &::before{
        background-color: rgb(var(--text-white));
      }
    }
  }
}
.swiper .pagination-bullets {
  caret-color: transparent !important;
}
.pagination-fraction{
  position:absolute;
  right:19px;
  bottom:16px;
  padding: 6.5px 13.5px;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:999px;
  z-index:10;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  background-color: rgba(var(--text-white), 0.2);
  border: 1px solid rgb(var(--text-white));
  color: rgb(var(--text-headline));
}


.bg-error-base_rgba{
  background-color: rgba(var(--error-base), .12);
}
.bg-gradient-1{
  background: var(--gradient-1);
}

.menu-tab{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1.5px solid rgb(var(--slate-100));
  .nav-tab-item{
    flex-grow: 1;
  }
  .tab-link{
    padding: 9px 10px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: rgb(var(--slate-600));
    position: relative;
    &.active{
      color: rgb(var(--primary-dark));
      background-color: rgba(var(--primary-dark), 0.05);
      &::after{
        width: 100%;
      }
    }
    &::after{
      position: absolute;
      content: "";
      bottom: -1px;
      height: 1.5px;
      width: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgb(var(--primary-dark));
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  }
}

.btn-line{
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
  color: rgb(var(--text-base));
  transition: all 0.3s ease-in-out;
  padding: 13px 16px;
  border-radius: 8px;
  background-color: rgb(var(--text-white));
  border: 1px solid rgb(var(--slate-200));
  display: flex;
  justify-content: center;
  &:hover{
    background-color: rgb(var(--primary-dark));
    color: rgb(var(--text-white));
    border-color: rgb(var(--primary-dark));
  }
}

.btn-primary{
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
  color: rgb(var(--text-white));
  transition: all 0.3s ease-in-out;
  padding: 13px 16px;
  border-radius: 8px;
  background-color: rgb(var(--primary-dark));
  border: 1px solid rgb(var(--primary-dark));
  display: flex;
  justify-content: center;
}

.text-underline-primary{
  text-decoration: underline;
  color: rgb(var(--error-base));
}
.text-underline{
  text-decoration: underline;
}
.btn-seemore{
  border-radius: 6px;
  padding: 8px 16px;
  background-color: rgb(var(--slate-100));
  color: rgb(var(--text-headline));
  width: max-content;
  display: block;
}
.list-star{
  display: flex;
  align-items: center;
  gap: 4px;
  .icon-star{
    width: 16px;
    height: 16px;
    color: rgb(var(--slate-200));
    &.active{
      color: rgb(var(--warning-base));
    }
  }
}
.offcanvas{
  border: 0 !important;
}
.offcanvas-backdrop{
  background-color: rgb(var(--text-headline));
}
.offcanvas-backdrop.show{
  opacity: .4;
}

.popup-wrapper{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  .close-popup{
    position: absolute;
    top: 10px;
    right: 16px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: rgba(254, 247, 247, 1);
    color: rgb(var(--error-base));
  }
}