@use "../abstracts/index" as *;

.header-main .btn-right.group-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  .icon-btn {
    width: auto;
    padding: 0;
    border: 0;
    color: rgb(var(--text-base));
  }
}



.notification-group {
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
  .group-label {
    display: block;
    font-size: 12px;
    color: rgb(var(--text-base));
    line-height: 16px;
    margin-bottom: 4px;
  }
}

.notification-item {
  display: flex;
  gap: 10px;
  padding-block: 8px;
  border-bottom: 1px solid rgb(var(--state-100));

  &:last-child {
    border-bottom: 0;
  }

  .icon-circle {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 20px;
      height: 20px;
    }

    &.type-shipped {
      background-color: rgba(var(--success-base), 0.12);
      color: rgb(var(--success-base));
    }
    &.type-sale {
      background-color: rgba(254, 247, 247, 1);
      color: rgb(var(--error-base));
    }
    &.type-stock {
      background-color: rgba(var(--warning-base), 0.15);
      color: rgb(var(--warning-base));
    }
    &.type-price {
      background-color: rgba(var(--primary-base), 0.12);
      color: rgb(var(--primary-base));
    }
    &.type-gift {
      background-color: rgba(254, 247, 247, 1);
      color: rgb(var(--error-base));
    }
  }

  .content {
    flex-grow: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
    .title {
      font-size: 14px;
      color: rgb(var(--text-headline));
    }
    .time {
      flex-shrink: 0;
      font-size: 12px;
      line-height: 16px;
      color: rgb(var(--text-base));
    }
  }

  .desc {
    font-size: 12px;
    line-height: 16px;
  }
}

.noti-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 120px;

  .title {
    font-size: 16px;
    font-weight: 500;
    color: rgb(var(--text-headline));
    margin-bottom: 8px;
  }
  .text {
    font-size: 13px;
    color: rgb(var(--state-600));
    margin-bottom: 20px;
  }

  .noti-empty_illustration {
    position: relative;
    width: 94px;
    height: 94px;
    margin: 0 auto 20px;
    border-radius: 50%;
    background-color: rgb(var(--state-100));
    display: flex;
    align-items: center;
    justify-content: center;

    .icon-bell {
      width: 40px;
      height: 40px;
      color: rgb(var(--state-400));
    }

    .badge-cancel {
      position: absolute;
      top: 4px;
      right: 4px;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: rgb(var(--error-base));
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid rgb(var(--text-white));
      svg {
        width: 12px;
        height: 12px;
        color: rgb(var(--text-white));
      }
    }
  }
}
#notification .page-width {
  overflow: auto;
}
