.box-profile {
  padding: 4px 20px 16px;
  background: var(--gradient-2);
  display: flex;
  align-items: center;
  gap: 10px;
  .avatar {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
  }
  .content {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: rgb(var(--text-headline));
    display: block;
    margin-bottom: 4px;
  }
  .mail {
    font-size: 12px;
    line-height: 100%;
    color: rgb(var(--text-base2));
  }
  .box-edit {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 7px 12px;
    border-radius: 99px;
    background-color: rgb(var(--text-white));
    box-shadow: var(--shadow-4);
    color: rgb(var(--slate-700));
    font-size: 12px;
    line-height: 100%;
  }
}

.box-become_seller {
  box-shadow: var(--shadow-4);
  padding: 20px 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid rgba(243, 243, 243, 1);
  border-radius: 8px;
  overflow: hidden;
  .img {
    width: 52px;
    flex-shrink: 0;
  }
  .content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
  }
  .title {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: rgba(15, 23, 42, 1);
    display: block;
    margin-bottom: 6px;
  }
  .text {
    color: rgb(var(--text-base));
    font-size: 11px;
    line-height: 16px;
  }
  .btn-arr {
    background: linear-gradient(180deg, rgba(108, 108, 229, 0.09) 0%, rgba(108, 108, 229, 0.01) 100%);
    padding: 9px 13px;
    border: 1px solid rgba(108, 108, 229, 0.09);
    border-radius: 99px;
    .icon-back {
      width: 18px;
      height: 18px;
      transform: rotate(180deg);
    }
  }
}

.profile-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: rgb(var(--text-base));
  padding-block: 10px;
  .title {
    flex-grow: 1;
    font-size: 14px;
    font-weight: 500;
  }
  svg {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
  &.active {
    color: rgb(var(--error-base));
  }
}
.fieldset {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
    .label {
      margin-bottom: 8px;
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      color: rgb(var(--text-headline));
    }
    &.space2{
      &:not(:last-child) {
      margin-bottom: 10px;
      }
    }
}

// become seller
.main-page_become--seller {
  .box-seller_step {
    margin: 0px 0 12px;
  }
  .box-availability {
    .label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 8px;
    }
    .box-check {
      display: flex;
      align-items: center;
      gap: 8px;
      label {
        font-weight: normal;
      }
    }
  }
}
.box-seller_step {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .step-item {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1.5px solid rgb(var(--text-border2));
    gap: 10px;
    .step {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      color: rgb(var(--text-headline));
      border: 1px solid rgb(var(--slate-300));
      background-color: rgb(var(--text-white));
      font-size: 14px;
      line-height: 100%;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .content {
      display: grid;
      gap: 4px;
    }
    .label {
      font-size: 11px;
      line-height: 16px;
      color: rgb(var(--text-base));
    }
    .title {
      font-size: 12px;
      line-height: 16px;
      color: rgb(var(--text-headline));
    }
    &.active {
      border-color: rgb(var(--main-color));
      .step {
        background-color: rgb(var(--primary-base));
        border-color: rgb(var(--primary-base));
        color: rgb(var(--text-white));
      }
    }
  }
}

.box-availability {
  .availability-item {
    display: flex;
    gap: 8px;
    align-items: center;
    .select {
      flex-grow: 1;
    }
    .day {
      max-width: 84px;
      font-size: 14px;
      font-weight: normal;
      width: 100%;
    }
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    button {
      padding: 10px;
      width: auto;
      svg{
        width: 24px;
        height: 24px;
      }
    }
    .btn-delete {
      color: rgb(var(--error-base));
    }
    .btn-plus {
      color: rgb(var(--success-base));
    }
  }
}
.box-img_edit{
  margin: 0px auto 30px;
  position: relative;
  width: 92px;
  height: 92px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  .icon{
    position: absolute;
    padding: 4px 10px 6px;
    background-color: rgb(var(--text-white));
    box-shadow: var(--shadow-4);
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 99px;
  }
}

.main-page_add--address  .fieldset-switch{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-top: 24px;
}

.main-page_address{
  .tab-content{
    padding-top: 20px;
  }
}

.address-item {
  border-radius: 8px;
  overflow: hidden;
  padding: 16px;
  background-color: rgb(var(--slate-50));
  transition: all 0.3s ease-in-out;
  border: 1px solid rgb(var(--slate-50));
  display: grid;
  gap: 8px;
  position: relative;
  .title{
    color: rgb(var(--text-headline));
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
  }
  .note {
    position: absolute;
    padding: 2px 4px;
    background-color: rgba(217, 255, 232, 1);
    color: rgb(var(--success-base));
    font-size: 9px;
    line-height: 100%;
    left: 0;
    top: 0;
    display: block;
  }
  .edit {
    position: absolute;
    right: 8px;
    top: 8px;
    color: rgb(var(--main-color2));
  }
  &.active{
    border-color: rgba(217, 255, 232, 1); ;
  }
  &:not(:last-child){
    margin-bottom: 16px;
  }
}

.box-notification{
   &:not(:last-child){
    margin-bottom: 24px;
  } 
  .note{
    padding-bottom: 6px;
    font-weight: 500;
    color: rgb(var(--text-headline));
    font-weight: 500;
    border-bottom: 1px solid rgb(var(--slate-200));
  }
  .noti-item{
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    .label{
      flex-grow: 1;
      display: grid;
      gap: 8px;
    }
    .title{
      font-weight: 500;
      color: rgb(var(--text-headline));
    }
  }
}