
:root {
  --font-main-family: "Kumbh Sans", sans-serif;

  --text-headline: #111827;
  --text-headline2: #222222;
  --text-base: #334155;
  --text-white: #ffffff;

  --primary-dark: #032D81;
  --primary-base: #0053F6;
  --primary-light: #F7FAFF;

  --slate-50: #F8FAFC;
  --slate-100: #F1F5F9;
  --slate-200: #E2E8F0;
  --slate-300: #CBD5E1;
  --slate-400: #758192;
  --slate-500: #64748B;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1E293B;
  --slate-900: #0F172A;

  --success-dark: #16A34A;
  --success-base: #22C55E;
  --success-light: #4ADE80;

  --warning-dark: #EAB308;
  --warning-base: #FACC15;
  --warning-light: #FDE047;

  --error-dark: #DD3333;
  --error-base: #FF4747;
  --error-light: #FF7171;

  --shadow: 2px 5px 40px 0px #4048570F;

}
